Repository AdonisEnProvence/MusicRoom, pull requests merged in 2021-11, with the labels that each got.

#188 Begin creating a first e2e test
  .vscode/settings.json
  packages/client/components/kit/AppScreenHeader.tsx
  packages/client/components/kit/AppScreenHeaderWithSearchBar.tsx
  packages/client/contexts/SocketContext.tsx
  packages/client/e2e/home.spec.ts
  packages/client/package.json
  packages/client/playwright.config.ts
  packages/client/screens/MusicTrackVoteCreationFormOpeningStatus.tsx
  packages/server/database/seeders/User.ts
  scripts/workspace/test/e2e/stop.ts
Labels: client, tests

#190 refactor(client): change minimum count to be played values
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/VoteForTrack.test.tsx
  packages/client/jest.setup.tsx
  packages/client/machines/creationMtvRoomForm.ts
  packages/client/screens/MusicTrackVoteCreationFormVotesConstraints.tsx
Labels: client

#194 feat(client): add test id for youtube player in view of the e2e testing
  packages/client/components/TheMusicPlayer/Player.tsx
Labels: enhancement, client

#192 Create E2E Test A
  packages/client/e2e/home.spec.ts
  packages/client/e2e/test-a.spec.ts
Labels: client, tests

#200 E2e testing test e
  packages/client/e2e/_utils/mock-http.ts
  packages/client/e2e/test-a.spec.ts
  packages/client/e2e/test-c.spec.ts
  packages/client/e2e/test-e.spec.ts
  packages/client/e2e/test-g.spec.ts
Labels: client, tests

#196 E2e testing test b
  packages/client/components/Track/TrackListItem.tsx
  packages/client/components/Track/TrackListItemWithScore.tsx
  packages/client/e2e/_utils/assert.ts
  packages/client/e2e/test-a.spec.ts
  packages/client/e2e/test-b.spec.ts
  packages/temporal/api/main.go
Labels: client, tests

#206 Radius is kilometers
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/MtvRoomCreationFormPhysicalConstraintsValidation.test.tsx
  packages/client/screens/MusicTrackVoteCreationFormConfirmation.tsx
  packages/client/screens/MusicTrackVoteCreationFormPhysicalConstraints.tsx
Labels: client

#210 Listen to JOINED_ROOM event globally
  packages/client/machines/appMusicPlayerMachine.ts
Labels: bug, client

#212 fix(temporal,client): when the only track from list is loaded as curr…
  packages/client/machines/appMusicPlayerMachine.ts
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_conds.go
  packages/temporal/workflows/mtv_test.go
Labels: bug, Temporal

#215 Close room creation modal correctly
  packages/client/machines/appMusicPlayerMachine.ts
Labels: bug, client

#216 Fix localStorage check to work on mobile devices
  packages/client/contexts/SocketContext.tsx
Labels: bug, client

#217 Fix close room creation modal test
  packages/client/__tests__/CloseMtvRoomCreationModal.test.tsx
  packages/client/screens/MusicTrackVoteCreationFormName.tsx
Labels: client, tests

#218 Printing failing tests only using jest-silent-reporter
  packages/client/jest.config.js
  packages/client/package.json
  yarn.lock
Labels: client, tests

#219 Make TrackListItem accessibility label contextual
  packages/client/components/TheMusicPlayer/Tabs/TracksList.tsx
  packages/client/components/Track/TrackListItem.tsx
  packages/client/components/Track/TrackListItemWithScore.tsx
Labels: client

#208 Tracks cards disabled constraint position issue
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/MtvRoomOnlyInvitedUsersCanVote.test.tsx
  packages/client/__tests__/MtvRoomWithConstraints.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/components/TheMusicPlayer/Tabs/TracksList.tsx
  packages/client/components/Track/TrackListItem.tsx
  packages/client/machines/appMusicPlayerMachine.ts
Labels: bug, client, tests

#209 Factorize e2e test env tools
  packages/client/e2e/_utils/page.ts
  packages/client/e2e/test-a.spec.ts
  packages/client/e2e/test-b.spec.ts
  packages/client/e2e/test-c.spec.ts
  packages/client/e2e/test-d.spec.ts
  packages/client/e2e/test-e.spec.ts
  packages/client/e2e/test-g.spec.ts
  packages/client/playwright.config.ts
Labels: enhancement, client

#222 Update starts at and ends at constraints
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/MtvRoomCreationFormPhysicalConstraintsValidation.test.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/creationMtvRoomForm.ts
  packages/client/screens/MusicTrackVoteCreationFormConfirmation.tsx
  packages/client/screens/MusicTrackVoteCreationFormPhysicalConstraints.tsx
Labels: client

#224 Acknowlegde time constraint update server
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/start/routes.ts
  packages/server/tests/MtvRoomTimeConstraintUpdate.test.ts
  packages/types/src/mtv-room-websockets.ts
Labels: server, tests

#230 refactor(temporal,server): look for last known mtv creator position w…
  .github/workflows/ci.yml
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/start/socket.ts
  packages/server/tests/MtvRoomWithPositionConstraintAndDevicePositionUpdate.test.ts
  packages/temporal/api/main.go
  packages/temporal/workflows/mtv.go
Labels: bug, enhancement, server, Temporal

#236 Refactor temporal create api logic
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_test.go
Labels: enhancement, Temporal

#237 Create E2e Test H
  packages/client/e2e/_utils/page.ts
  packages/client/e2e/test-h.spec.ts
  packages/client/playwright.config.ts
Labels: client, tests

#238 Update Device is emitting in database after join or create mtv room operation
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/tests/UserchangeEmittingDevice.test.ts
Labels: bug, server, tests

#240 Always forward tracks list after suggestion
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_test.go
Labels: bug, Temporal

#241 fix(server): add order_by on roomID to avoid retrieving previous page…
  packages/server/app/Controllers/Http/MtvRoomsHttpController.ts
  packages/server/tests/MtvRoomSearch.test.ts
Labels: bug, server

#242 Device coords timestamp
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Models/Device.ts
  packages/server/database/migrations/1637583296481_add_device_coords_timestamps.ts
  packages/server/start/socket.ts
  packages/server/tests/MtvRoomPositionConstraint.test.ts
  packages/server/tests/UserDevicePosition.test.ts
  packages/server/tests/UserchangeEmittingDevice.test.ts
Labels: enhancement, server, tests

#243 Cache deep clone of tracks
  packages/temporal/shared/mtv.go
  packages/temporal/shared/mtv_test.go
  packages/temporal/workflows/mtv.go
Labels: bug, Temporal

#244 E2e test f
  packages/client/e2e/_utils/page.ts
  packages/client/e2e/test-a.spec.ts
  packages/client/e2e/test-b.spec.ts
  packages/client/e2e/test-c.spec.ts
  packages/client/e2e/test-d.spec.ts
  packages/client/e2e/test-e.spec.ts
  packages/client/e2e/test-f.spec.ts
  packages/client/e2e/test-g.spec.ts
  packages/client/e2e/test-h.spec.ts
  packages/client/playwright.config.ts
Labels: client, tests

#246 Fix e2e testing race condition
  packages/client/e2e/_utils/assert.ts
  packages/client/e2e/test-a.spec.ts
  packages/client/e2e/test-c.spec.ts
  packages/client/e2e/test-d.spec.ts
  packages/client/e2e/test-g.spec.ts
  packages/client/package.json
  packages/server/app/Services/SocketLifecycle.ts
  yarn.lock
Labels: bug, client

#247 Clear search tracks screen after exiting
  packages/client/__tests__/SearchTracksReset.test.tsx
  packages/client/e2e/test-a.spec.ts
  packages/client/e2e/test-b.spec.ts
  packages/client/e2e/test-c.spec.ts
  packages/client/e2e/test-d.spec.ts
  packages/client/e2e/test-e.spec.ts
  packages/client/e2e/test-f.spec.ts
  packages/client/e2e/test-g.spec.ts
  packages/client/e2e/test-h.spec.ts
  packages/client/machines/appScreenHeaderWithSearchBarMachine.ts
  packages/client/machines/searchTrackMachine.ts
  packages/client/screens/SearchTrackResultsScreen.tsx
  packages/client/screens/SearchTrackScreen.tsx
Labels: bug, client

#249 Metro ignores server built files
  packages/client/metro.config.js
Labels: bug, client

#253 Symbolize mtv room constraint backend
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/japaFile.ts
  packages/server/start/socket.ts
  packages/server/tests/UserchangeEmittingDevice.test.ts
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/mtv-room-websockets.ts
Labels: enhancement, server, Temporal, tests

#255 Symbolize mtv room constraint in client
  .github/workflows/ci.yml
  packages/client/.env.example
  packages/client/__tests__/MtvRoomConstraintsDetails.test.tsx
  packages/client/components/MtvRoomConstraintsDetailsOnMap/contract.ts
  packages/client/components/MtvRoomConstraintsDetailsOnMap/index.tsx
  packages/client/components/MtvRoomConstraintsDetailsOnMap/native.tsx
  packages/client/components/MtvRoomConstraintsDetailsOnMap/web.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/kit/AppModalHeader.tsx
  packages/client/constants/ApiKeys.ts
  packages/client/hooks/useFormatDateTime.ts
  packages/client/hooks/useTheme.ts
  packages/client/jest.setup.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/navigation/index.tsx
  packages/client/package.json
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/MusicTrackVoteConstraintsDetailsModal.tsx
  packages/client/types.tsx
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/types/src/mtv-room-websockets.ts
  yarn.lock
Labels: enhancement, client

#256 Fix ux issues with app search bars
  packages/client/__tests__/MtvRoomSearch.test.tsx
  packages/client/__tests__/MtvRoomUsersList.test.tsx
  packages/client/__tests__/MtvRoomUsersListBroadcast.test.tsx
  packages/client/__tests__/MtvRoomUsersListDirect.test.tsx
  packages/client/__tests__/MtvRoomUsersSearch.test.tsx
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/components/kit/AppScreenHeaderSearchBar.tsx
  packages/client/components/kit/AppScreenHeaderWithSearchBar.tsx
  packages/client/components/kit/AppScreenWithSearchBar.tsx
  packages/client/machines/appScreenHeaderWithSearchBarMachine.ts
  packages/client/machines/roomUsersListMachine.ts
  packages/client/machines/roomUsersSearchMachine.ts
  packages/client/machines/searchMtvRoomsMachine.ts
  packages/client/machines/searchTrackMachine.ts
  packages/client/tests/data/index.ts
Labels: bug, client

#260 Leave room after room creation
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/CreateMtvRoomWhileBeingInOne.test.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerMini.tsx
  packages/client/e2e/_utils/assert.ts
  packages/client/e2e/_utils/global.ts
  packages/client/e2e/test-a.spec.ts
  packages/client/e2e/test-b.spec.ts
  packages/client/e2e/test-c.spec.ts
  packages/client/e2e/test-d.spec.ts
  packages/client/e2e/test-e.spec.ts
  packages/client/e2e/test-f.spec.ts
  packages/client/e2e/test-g.spec.ts
  packages/client/e2e/test-h.spec.ts
  packages/client/hooks/musicPlayerHooks.ts
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/navigation/index.tsx
Labels: bug, client, tests

#261 Listen for room state changes even when track is loading
  packages/client/machines/appMusicPlayerMachine.ts
Labels: bug, client

#263 chore(client): remove expo-linear-gradient unused dependencie
  packages/client/package.json
  yarn.lock
Labels: enhancement, client

#262 Simplify search tracks
  packages/client/__tests__/CloseMtvRoomCreationModal.test.tsx
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/CreateMtvRoomWhileBeingInOne.test.tsx
  packages/client/__tests__/SearchTracks.test.tsx
  packages/client/__tests__/SearchTracksReset.test.tsx
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/__tests__/SuggestTrackFail.test.tsx
  packages/client/e2e/test-a.spec.ts
  packages/client/e2e/test-b.spec.ts
  packages/client/e2e/test-c.spec.ts
  packages/client/e2e/test-d.spec.ts
  packages/client/e2e/test-e.spec.ts
  packages/client/e2e/test-f.spec.ts
  packages/client/e2e/test-g.spec.ts
  packages/client/e2e/test-h.spec.ts
  packages/client/jest.setup.tsx
  packages/client/machines/searchTrackMachine.ts
  packages/client/navigation/BottomBarNavigation.tsx
  packages/client/navigation/index.tsx
  packages/client/screens/SearchTrackResultsScreen.tsx
  packages/client/screens/SearchTrackScreen.tsx
  packages/client/screens/SuggestTrackModal.tsx
  packages/client/screens/SuggestTrackResultsModal.tsx
  packages/client/types.tsx
Labels: enhancement, client

#264 Close change emitting device bottom sheet modal after operation
  packages/client/__tests__/UserDevices.test.tsx
  packages/client/components/TheMusicPlayer/Tabs/Settings.tsx
  packages/client/jest.setup.tsx
Labels: enhancement, client, tests

#265 Prevent suggest track button overlapping
  packages/client/components/TheMusicPlayer/Tabs/TracksList.tsx
  packages/client/hooks/useTheme.ts
Labels: bug, client
