Repository AdonisEnProvence/MusicRoom, pull requests merged in 2021-07, with the labels that each got.

#53 Client sessions synchronization
  packages/client/App.tsx
  packages/client/hooks/useSocket.ts
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Models/Device.ts
  packages/server/app/Models/MtvRoom.ts
  packages/server/app/Models/User.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/database/migrations/1623768602775_devices.ts
  packages/server/database/migrations/1625147580907_add_mtv_room_id_to_users.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/types/src/appMusicPlayerMachine.ts
  packages/types/src/websockets.ts
Labels: enhancement

#45 Add tracks list to rooms
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/index.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/screens/SearchTrackResultsScreen.tsx
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/config/app.ts
  packages/server/start/routes.ts
  packages/server/start/socket.ts
  packages/server/tests/hello.test.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/temporal/activities.go
  packages/temporal/activities/fetch.go
  packages/temporal/activities/mtv_controls.go
  packages/temporal/activities/mtv_metadata.go
  packages/temporal/api/main.go
  packages/temporal/control_worflow.go
  packages/temporal/go.mod
  packages/temporal/go.sum
  packages/temporal/package.json
  packages/temporal/shared.go
  packages/temporal/shared/mtv.go
  packages/temporal/start/main.go
  packages/temporal/worker/main.go
  packages/temporal/workflow_test.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_test.go
  packages/temporal/youtube/init.go
  packages/temporal/youtube/videos.go
  packages/types/package.json
  packages/types/src/TemporalToServer.ts
  packages/types/src/appMusicPlayerMachine.ts
  packages/types/src/index.ts
  packages/types/src/mtv.ts
  packages/types/src/server-to-temporal.ts
  packages/types/src/temporal-to-server.ts
  packages/types/src/websockets.ts
  packages/types/tests/type-guard.test.ts
  scripts/packages/build/tsc/watch.sh
  yarn.lock
Labels: Temporal, client, enhancement, server

#57 Timer heartbeat
  packages/temporal/activities/mocks/RecordHeartbeatWrapperType.go
  packages/temporal/activities/mtv_controls.go
  packages/temporal/activities/mtv_controls_test.go
  packages/temporal/go.mod
  packages/temporal/go.sum
Labels: Temporal, tests

#59 Move initial tracks fetching into the stateMachine temporal
  packages/temporal/activities/mtv_metadata.go
  packages/temporal/workflows/mtv.go
Labels: enhancement

#60 Handle user joining in the state machine
  packages/temporal/activities/mtv_controls.go
  packages/temporal/go.mod
  packages/temporal/go.sum
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_test.go
Labels: Temporal, enhancement

#61 Refactor room creation funnel to manage `ROOM_CREATE_CALLBACK`
  packages/client/App.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/hooks/useSocket.ts
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/types/src/websockets.ts
Labels: server

#65 Forward go to next track action from the client to the mtv workflow and play the next track if applicable
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerWithControls.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/tests/data/index.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/temporal/api/main.go
  packages/temporal/go.mod
  packages/temporal/go.sum
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_actions.go
  packages/temporal/workflows/mtv_conds.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/websockets.ts
Labels: Temporal, client, enhancement, server

#64 Refactor room creation funnel client
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/components/TheMusicPlayer/MusicPlayerControlButton.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerMini.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerWithControls.tsx
  packages/client/components/TheMusicPlayer/index.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/hooks/useFormatMilliSeconds.ts
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/tests/data/index.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/database/seeders/User.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/temporal/go.mod
  packages/temporal/go.sum
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_actions.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/appMusicPlayerMachine.ts
  packages/types/src/mtv.ts
  packages/types/src/server-to-temporal.ts
  packages/types/src/websockets.ts
  packages/types/tests/type-guard.test.ts
Labels: Temporal, client, enhancement, server

#68 Fix broken search bar animations on Web
  packages/client/components/kit/AppScreenHeaderSearchBar.tsx
  packages/client/components/kit/AppScreenHeaderWithSearchBar.tsx
  packages/client/hooks/useTheme.ts
  packages/client/navigation/BottomBarNavigation.tsx
Labels: bug, client

#66 Create a wrapper component to use different youtube client library on native and web paltforms
  packages/client/components/TheMusicPlayer/Player.tsx
  packages/client/components/YouTubePlayer/contract.ts
  packages/client/components/YouTubePlayer/index.tsx
  packages/client/components/YouTubePlayer/native.tsx
  packages/client/components/YouTubePlayer/web.tsx
  packages/client/components/YouTubePlayer/youtube-iframe.ts
  packages/client/package.json
  yarn.lock
Labels: bug, client

#72 Fix retrieve context
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/types/src/websockets.ts
Labels: bug

#74 Fix two alive sessions sync create callback
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/tests/socketonDisconnection.test.ts
Labels: bug, client

#76 Fix initial track duration passed to the mtv workflow timer
  packages/temporal/package.json
  packages/temporal/workflows/mtv_actions.go
  packages/temporal/workflows/mtv_test.go
Labels: Temporal, bug

#78 Fix remote join timeout issue
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/tests/socketonDisconnection.test.ts
Labels: bug, server

#83 Hide properly full screen player when not on full screen mode
  packages/client/components/TheMusicPlayer/TheMusicPlayerMini.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerWithControls.tsx
  packages/client/components/TheMusicPlayer/index.tsx
Labels: bug, client

#79 Broadcast go to next track to clients
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerWithControls.tsx
  packages/client/components/YouTubePlayer/web.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/package.json
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/start/routes.ts
  packages/temporal/activities/mtv_controls.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_conds.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/appMusicPlayerMachine.ts
  packages/types/src/index.ts
  packages/types/src/websockets.ts
  yarn.lock
Labels: Temporal, client, enhancement, server
