Repository AdonisEnProvence/MusicRoom, pull requests merged in 2021-08, with the labels that each got.

#85 Design full screen player
  packages/client/components/TheMusicPlayer/MusicPlayerFullScreenTracksListItem.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerMini.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerWithControls.tsx
  packages/client/components/TheMusicPlayer/index.tsx
  packages/client/components/YouTubePlayer/web.tsx
  packages/client/components/YouTubePlayer/youtube-iframe.ts
  packages/client/components/kit/AppScreenContainer.tsx
  packages/client/hooks/useTheme.ts
  packages/client/package.json
  yarn.lock
Labels: bug, enhancement, client

#81 Refactor join room funnel
  packages/client/App.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/components/TheMusicPlayer/Player.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerWithControls.tsx
  packages/client/components/YouTubePlayer/contract.ts
  packages/client/components/YouTubePlayer/native.tsx
  packages/client/components/YouTubePlayer/web.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/jest.setup.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/tests/tests-utils.tsx
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/UserService.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/temporal/activities/mtv_controls.go
  packages/temporal/activities/mtv_controls_test.go
  packages/temporal/go.mod
  packages/temporal/go.sum
  packages/temporal/package.json
  packages/temporal/shared/mtv.go
  packages/temporal/worker/main.go
  packages/temporal/workflows/mocks/TimeWrapperType.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_actions.go
  packages/temporal/workflows/mtv_conds.go
  packages/temporal/workflows/mtv_test.go
Labels: server, Temporal

#91 List user devices to front
  packages/client/App.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/contexts/UserContext.tsx
  packages/client/hooks/useSocket.ts
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/appUserMachine.ts
  packages/client/package.json
  packages/client/tests/tests-utils.tsx
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Models/Device.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/app/Services/UserService.ts
  packages/server/database/migrations/1628586645885_add_name_to_devices.ts
  packages/server/package.json
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/types/src/index.ts
  packages/types/src/mtv-room-websockets.ts
  packages/types/src/temporal-to-server.ts
  packages/types/src/user-websockets.ts
  packages/types/src/websockets.ts
  yarn.lock
Labels: client, server

#95 Pick a device to play music on
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/__tests__/UserDevices.test.tsx
  packages/client/components/TheMusicPlayer/Player.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerWithControls.tsx
  packages/client/components/TheMusicPlayer/index.tsx
  packages/client/components/YouTubePlayer/contract.ts
  packages/client/components/YouTubePlayer/native.tsx
  packages/client/components/YouTubePlayer/web.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/appUserMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/app/Services/UserService.ts
  packages/server/start/routes.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/temporal/activities/mtv_controls.go
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/worker/main.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_actions.go
  packages/temporal/workflows/mtv_test.go
  packages/tsconfig.json
  packages/types/src/mtv-room-websockets.ts
  packages/types/src/mtv.ts
  packages/types/src/server-to-temporal.ts
  packages/types/src/user-websockets.ts
  packages/utils/.babelrc
  packages/utils/.eslintrc
  packages/utils/CHANGELOG.md
  packages/utils/api-extractor.json
  packages/utils/etc/utils.api.md
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tests/index.test.ts
  packages/utils/tsconfig.json
Labels: enhancement, client, server, Temporal

#98 Load environment variables correctly in temporal package
  packages/temporal/.env.example
  packages/temporal/package.json
  yarn.lock
Labels: bug, Temporal

#100 fix(client): fix suggest track touchableOpacity button issue
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
Labels: bug, client

#99 Default emitting device after eviction
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Models/Device.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/app/Services/UserService.ts
  packages/server/database/migrations/1629785962667_add_is_emitting_to_devices.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
Labels: enhancement, server, tests

#105 Forward suggestions from client to temporal
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/__tests__/UserDevices.test.tsx
  packages/client/__tests__/UserLeave.test.tsx
  packages/client/__tests__/UserLengthUpdate.test.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/Track/TrackListItem.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/jest.setup.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/searchTrackMachine.ts
  packages/client/navigation/index.tsx
  packages/client/package.json
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/SearchTrackResultsScreen.tsx
  packages/client/screens/SuggestTrackResultsModal.tsx
  packages/client/tests/data/index.ts
  packages/client/tests/server/handlers.ts
  packages/client/types.tsx
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Http/TracksSearchesController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/start/routes.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/temporal/activities/mtv_controls.go
  packages/temporal/activities/mtv_metadata.go
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/worker/main.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/mtv-room-websockets.ts
  packages/types/src/mtv.ts
  yarn.lock
Labels: enhancement, client, server, Temporal

#109 Split server tests file
  packages/server/tests/Hello.test.ts
  packages/server/tests/MtvRoomGoToNextTrackAndGetState.test.ts
  packages/server/tests/MtvRoomJoinCreate.test.ts
  packages/server/tests/SocketonDisconnection.test.ts
  packages/server/tests/UserConnectedDevices.test.ts
  packages/server/tests/UserLeaveMtvRoom.test.ts
  packages/server/tests/UserService.test.ts
  packages/server/tests/UserchangeEmittingDevice.test.ts
  packages/server/tests/socketonDisconnection.test.ts
  packages/server/tests/utils/TestUtils.ts
Labels: enhancement, server, tests

#108 Add validator to temporal
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/temporal/api/init.go
  packages/temporal/api/main.go
  packages/temporal/package.json
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/init.go
  packages/temporal/workflows/mtv.go
Labels: enhancement, server, Temporal

#111 Allow several simultaneous tracks suggestions
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_test.go
Labels: enhancement, Temporal
