Repository AdonisEnProvence/MusicRoom, pull requests merged in 2021-06, with the labels that each got.

#14 Refacto client search & Global style design
  packages/client/App.tsx
  packages/client/babel.config.js
  packages/client/components/EditScreenInfo.tsx
  packages/client/components/StyledText.tsx
  packages/client/components/Themed.tsx
  packages/client/components/search/TrackPreview.tsx
  packages/client/components/search/TracksSearch.tsx
  packages/client/components/search/TracksSearchResults.tsx
  packages/client/components/template/Block.tsx
  packages/client/components/template/FlexColContainer.tsx
  packages/client/components/template/FlexRowContainer.tsx
  packages/client/components/template/Hr.tsx
  packages/client/components/template/MSFlatList.tsx
  packages/client/components/template/TextInput.tsx
  packages/client/components/template/Title.tsx
  packages/client/components/template/Typo.tsx
  packages/client/constants/Colors.ts
  packages/client/constants/Colors.tsx
  packages/client/constants/Endpoints.ts
  packages/client/machines/searchTrackMachine.ts
  packages/client/module.d.ts
  packages/client/navigation/BottomBarNavigation.tsx
  packages/client/navigation/LinkingConfiguration.ts
  packages/client/navigation/index.tsx
  packages/client/package.json
  packages/client/screens/ChatScreen.tsx
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/SearchTrackResultsScreen.tsx
  packages/client/screens/SearchTrackScreen.tsx
  packages/client/screens/SettingsScreen.tsx
  packages/client/types.tsx
  packages/server/app/Controllers/Http/TracksSearchesController.ts
  yarn.lock
Labels: enhancement

#22 Expo web compatibility
  packages/client/components/MusicPlayer/index.ts
  packages/client/components/MusicPlayer/native.tsx
  packages/client/components/MusicPlayer/web.tsx
  packages/client/package.json
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/TrackPlayer.tsx
  packages/client/webpack.config.js
  yarn.lock
Labels: bug, client, enhancement

#24 Setup redis server
  .github/workflows/ci.yml
  README.md
  packages/client/constants/Endpoints.ts
  packages/client/module.d.ts
  packages/client/screens/ChatScreen.tsx
  packages/server/.adonisrc.json
  packages/server/.env.example
  packages/server/app/Controllers/Ws/ChatController.ts
  packages/server/app/Services/Ws.ts
  packages/server/config/redis.ts
  packages/server/contracts/redis.ts
  packages/server/docker-compose.yml
  packages/server/env.ts
  packages/server/package.json
  packages/server/start/redis.ts
  packages/server/start/routes.ts
  packages/server/start/socket.ts
  packages/server/tsconfig.json
  yarn.lock
Labels: server

#34 Set up front end testing
  packages/client/App.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/constants/Endpoints.ts
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/hooks/useSocket.ts
  packages/client/hooks/useTheme.ts
  packages/client/jest.config.js
  packages/client/jest.setup.ts
  packages/client/machines/searchTrackMachine.ts
  packages/client/module.d.ts
  packages/client/navigation/index.tsx
  packages/client/package.json
  packages/client/screens/ChatScreen.tsx
  packages/client/services/__mocks__/websockets.ts
  packages/client/services/websockets.ts
  packages/client/tests/global-mocks.ts
  packages/client/tests/server/handlers.ts
  packages/client/tests/server/test-server.ts
  packages/client/tests/tests-utils.tsx
  packages/client/tsconfig.json
  packages/server/app/Controllers/Http/TracksSearchesController.ts
  packages/server/package.json
  packages/temporal/package.json
  packages/types/package.json
  packages/utils/package.json
  yarn.lock
Labels: client, enhancement

#35 Connect play pause
  packages/client/components/TheMusicPlayer.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/start/socket.ts
  packages/temporal/activities.go
  packages/temporal/api/main.go
  packages/types/src/websockets.ts
Labels: client, enhancement, server

#36 Connect Music Player to hardware back button
  packages/client/components/TheMusicPlayer.tsx
  packages/client/package.json
Labels: bug, client

#38 Replace polling by a callback ref to get a reference to the music player
  packages/client/components/TheMusicPlayer.tsx
  packages/client/components/track-vote/MusicPlayer.tsx
Labels: bug, client

#40 Set up postgresql
  .eslintrc
  .github/workflows/ci.yml
  README.md
  packages/server/.adonisrc.json
  packages/server/.env.example
  packages/server/ace-manifest.json
  packages/server/app/Controllers/Http/MtvRoomsHttpController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Models/Room.ts
  packages/server/app/Models/User.ts
  packages/server/config/database.ts
  packages/server/database/factories/index.ts
  packages/server/database/migrations/1623742210442_users.ts
  packages/server/database/migrations/1623746487945_rooms.ts
  packages/server/docker-compose.yml
  packages/server/env.ts
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Labels: enhancement, server

#43 Clean heavy components
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/components/TheMusicPlayer.tsx
  packages/client/components/TheMusicPlayer/MusicPlayerControlButton.tsx
  packages/client/components/TheMusicPlayer/Player.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerMini.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerWithControls.tsx
  packages/client/components/TheMusicPlayer/index.tsx
  packages/client/components/kit/AppScreenHeaderSearchBar.tsx
  packages/client/components/kit/AppScreenHeaderWithSearchBar.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/hooks/useFormatSeconds.ts
  packages/client/jest.config.js
  packages/client/jest.setup.ts
  packages/client/jest.setup.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/appScreenHeaderWithSearchBarMachine.ts
  packages/client/machines/searchMtvRoomsMachine.ts
  packages/client/machines/searchTrackMachine.ts
  packages/client/navigation/BottomBarNavigation.tsx
  packages/client/package.json
  packages/client/screens/ChatScreen.tsx
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/MusicTrackVoteSearchScreen.tsx
  packages/client/screens/SearchTrackScreen.tsx
  packages/client/screens/SettingsScreen.tsx
  packages/client/services/__mocks__/websockets.ts
  packages/client/services/websockets.ts
  packages/client/tests/data/index.ts
  packages/client/tests/server/handlers.ts
  packages/client/tsconfig.json
  yarn.lock
Labels: client

#51 Relationship lucid model
  packages/server/app/Controllers/Http/MtvRoomsHttpController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Models/Device.ts
  packages/server/app/Models/MtvRoom.ts
  packages/server/app/Models/User.ts
  packages/server/database/migrations/1623746487945_mtv_rooms.ts
  packages/server/database/migrations/1623768602775_devices.ts
  packages/server/database/migrations/1623828552696_add_creator_columns.ts
  packages/server/start/socket.ts
  packages/server/tests/socketonDisconnection.test.ts
Labels: enhancement, server
