Repository AdonisEnProvence/MusicRoom, pull requests merged in 2021-09, with the labels that each got.

#114 Vote for a track temporal
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/__tests__/UserDevices.test.tsx
  packages/client/__tests__/UserLeave.test.tsx
  packages/client/__tests__/UserLengthUpdate.test.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/screens/HomeScreen.tsx
  packages/client/tests/data/index.ts
  packages/client/tests/server/handlers.ts
  packages/server/start/routes.ts
  packages/server/tests/MtvRoomGoToNextTrackAndGetState.test.ts
  packages/server/tests/MtvRoomJoinCreate.test.ts
  packages/server/tests/SocketonDisconnection.test.ts
  packages/server/tests/UserLeaveMtvRoom.test.ts
  packages/server/tests/UserService.test.ts
  packages/server/tests/UserchangeEmittingDevice.test.ts
  packages/temporal/activities/mtv_controls.go
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/worker/main.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_actions.go
  packages/temporal/workflows/mtv_conds.go
  packages/temporal/workflows/mtv_events.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/mtv.ts
Labels: client, server, Temporal, tests

#115 Vote for track server
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/start/routes.ts
  packages/server/start/socket.ts
  packages/server/tests/UserVoteForTrack.test.ts
  packages/types/src/mtv-room-websockets.ts
Labels: server, tests

#127 Limit mtv room creation form steps width on largest devices
  packages/client/components/MtvRoomCreationForm/MtvRoomCreationFormScreen.tsx
Labels: client

#128 Integrate room settings backend
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/start/socket.ts
  packages/server/tests/MtvRoomCreateWithAdvancedSettings.test.tsx
  packages/server/tests/MtvRoomJoinCreate.test.ts
  packages/server/tests/SocketonDisconnection.test.ts
  packages/server/tests/UserLeaveMtvRoom.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/mtv-room-websockets.ts
Labels: server, Temporal, tests

#130 Device position server
  .github/workflows/ci.yml
  packages/server/.env.example
  packages/server/app/Controllers/Http/GeocodingController.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/TracksSearchesController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Models/Device.ts
  packages/server/app/Models/MtvRoom.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/database/migrations/1631259053775_add_lat_lng_to_devices.ts
  packages/server/database/migrations/1631259287840_add_position_constraints_lat_lngs.ts
  packages/server/database/migrations/1631278197449_add_position_constraint_radius_mtv_rooms.ts
  packages/server/env.ts
  packages/server/package.json
  packages/server/start/socket.ts
  packages/server/tests/MtvRoomWithPositionConstraintAndDevicePositionUpdate.test.ts
  packages/temporal/shared/mtv.go
  packages/types/src/user-websockets.ts
  yarn.lock
Labels: server, tests

#129 Implement real inputs for physical constraints step
  .github/workflows/ci.yml
  packages/client/__tests__/MtvRoomCreationForm.test.tsx
  packages/client/babel.config.js
  packages/client/components/MtvRoomCreationForm/MtvRoomCreationFormDatePicker.tsx
  packages/client/components/MtvRoomCreationForm/MtvRoomCreationFormDatePickerContract.tsx
  packages/client/components/MtvRoomCreationForm/MtvRoomCreationFormDatePickerNative.tsx
  packages/client/components/MtvRoomCreationForm/MtvRoomCreationFormDatePickerWeb.tsx
  packages/client/components/kit/TextField.tsx
  packages/client/constants/ApiKeys.ts
  packages/client/global.d.ts
  packages/client/hooks/useFormatDateTime.ts
  packages/client/jest.config.js
  packages/client/machines/creationMtvRoomForm.ts
  packages/client/package.json
  packages/client/screens/MusicTrackVoteCreationFormConfirmation.tsx
  packages/client/screens/MusicTrackVoteCreationFormName.tsx
  packages/client/screens/MusicTrackVoteCreationFormPhysicalConstraints.tsx
  packages/client/tests/global-mocks.ts
  packages/client/tests/server/handlers.ts
  packages/client/tsconfig.json
  packages/server/app/Controllers/Http/PlacesApisController.ts
  packages/server/start/routes.ts
  packages/types/src/index.ts
  packages/types/src/mtv-room-websockets.ts
  packages/types/src/places-api.ts
  yarn.lock
Labels: enhancement, client

#131 Connect mtv room creation form with backend
  packages/client/__tests__/CreateMtvRoom.tsx
  packages/client/__tests__/SearchTrackScreen.test.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/jest.setup.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/creationMtvRoomForm.ts
  packages/client/machines/searchTrackMachine.ts
  packages/client/machines/utils.ts
  packages/client/package.json
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/MusicTrackVoteCreationFormConfirmation.tsx
  packages/client/services/search-tracks.ts
  packages/client/tests/server/handlers.ts
  packages/client/types.tsx
  packages/server/package.json
  packages/server/start/socket.ts
  packages/temporal/api/init.go
  packages/temporal/api/main.go
  packages/temporal/go.mod
  packages/temporal/go.sum
  packages/temporal/workflows/init.go
  packages/temporal/youtube/init.go
  packages/types/package.json
  yarn.lock
Labels: enhancement, client

#132 fix(client): decode query as the query needs to be also drop database…
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/jest.setup.tsx
  packages/client/tests/data/index.ts
  packages/client/tests/server/handlers.ts
Labels: bug, client

#133 Device position client and temporal
  .github/workflows/ci.yml
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/__tests__/SuggestTrackFail.test.tsx
  packages/client/__tests__/UserDevices.test.tsx
  packages/client/__tests__/UserLeave.test.tsx
  packages/client/__tests__/UserLengthUpdate.test.tsx
  packages/client/__tests__/UserLocation.test.tsx
  packages/client/__tests__/VoteForTrack.test.tsx
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/index.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/contexts/UserContext.tsx
  packages/client/jest.setup.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/appUserMachine.ts
  packages/client/machines/creationMtvRoomForm.ts
  packages/client/package.json
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/MusicTrackVoteCreationFormPhysicalConstraints.tsx
  packages/client/screens/MusicTrackVoteCreationFormPlayingMode.tsx
  packages/client/services/__mocks__/websockets.ts
  packages/client/tests/data/index.ts
  packages/client/tsconfig.json
  packages/server/.env.example
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/GeocodingService.ts
  packages/server/env.ts
  packages/server/start/routes.ts
  packages/server/tests/MtvRoomCreateWithAdvancedSettings.test.tsx
  packages/server/tests/MtvRoomGoToNextTrackAndGetState.test.ts
  packages/server/tests/MtvRoomJoinCreate.test.ts
  packages/server/tests/MtvRoomWithPositionConstraintAndDevicePositionUpdate.test.ts
  packages/server/tests/SocketonDisconnection.test.ts
  packages/server/tests/UserLeaveMtvRoom.test.ts
  packages/server/tests/UserService.test.ts
  packages/server/tests/UserVoteForTrack.test.ts
  packages/server/tests/UserchangeEmittingDevice.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/activities/mtv_controls.go
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_actions.go
  packages/temporal/workflows/mtv_activities_controller.go
  packages/temporal/workflows/mtv_conds.go
  packages/temporal/workflows/mtv_events.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/mtv-room-websockets.ts
  packages/types/src/mtv.ts
  yarn.lock
Labels: client, Temporal, tests

#138 Allow NPM dependencies to be cached and reused
  .github/workflows/ci.yml
Labels: enhancement

#136 Add validation to mtv creation form
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/MtvRoomCreationFormPhysicalConstraintsValidation.test.tsx
  packages/client/__tests__/MtvRoomCreationFormRoomNameValidation.test.tsx
  packages/client/components/MtvRoomCreationForm/MtvRoomCreationFormDatePickerContract.tsx
  packages/client/components/MtvRoomCreationForm/MtvRoomCreationFormDatePickerNative.tsx
  packages/client/components/MtvRoomCreationForm/MtvRoomCreationFormDatePickerWeb.tsx
  packages/client/machines/creationMtvRoomForm.ts
  packages/client/package.json
  packages/client/screens/MusicTrackVoteCreationFormName.tsx
  packages/client/screens/MusicTrackVoteCreationFormPhysicalConstraints.tsx
  yarn.lock
Labels: enhancement, client

#137 Delegation broadcast temporal
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/__tests__/SuggestTrackFail.test.tsx
  packages/client/__tests__/UserDevices.test.tsx
  packages/client/__tests__/UserLeave.test.tsx
  packages/client/__tests__/UserLengthUpdate.test.tsx
  packages/client/__tests__/UserLocation.test.tsx
  packages/client/__tests__/VoteForTrack.test.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/screens/HomeScreen.tsx
  packages/server/tests/MtvRoomGoToNextTrackAndGetState.test.ts
  packages/server/tests/MtvRoomJoinCreate.test.ts
  packages/server/tests/MtvRoomWithPositionConstraintAndDevicePositionUpdate.test.ts
  packages/server/tests/SocketonDisconnection.test.ts
  packages/server/tests/UserLeaveMtvRoom.test.ts
  packages/server/tests/UserService.test.ts
  packages/server/tests/UserVoteForTrack.test.ts
  packages/server/tests/UserchangeEmittingDevice.test.ts
  packages/temporal/activities/mtv_controls.go
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_activities_controller.go
  packages/temporal/workflows/mtv_conds.go
  packages/temporal/workflows/mtv_events.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/mtv.ts
Labels: server, Temporal, tests

#140 Delegation owner client server
  packages/client/components/TheMusicPlayer/TheMusicPlayerFullScreen.tsx
  packages/client/components/TheMusicPlayer/index.tsx
  packages/client/contexts/MusicPlayerContext.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/start/routes.ts
  packages/server/start/socket.ts
  packages/temporal/api/main.go
  packages/types/src/mtv-room-websockets.ts
Labels: client, server

#141 chore: update readme also create .env.example for the client
  README.md
  packages/client/.env.example
Labels: documentation

#146 Implement control and delegation permission updating
  packages/client/machines/appMusicPlayerMachine.ts
  packages/server/app/Controllers/Http/Temporal/ServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/TemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/japaFile.ts
  packages/server/start/routes.ts
  packages/server/start/socket.ts
  packages/server/tests/MtvRoomUpdateControlAndDelegationPermission.test.ts
  packages/server/tests/UserLeaveMtvRoom.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/activities/mtv_controls.go
  packages/temporal/api/main.go
  packages/temporal/shared/mtv.go
  packages/temporal/worker/main.go
  packages/temporal/workflows/mtv.go
  packages/temporal/workflows/mtv_activities_controller.go
  packages/temporal/workflows/mtv_conds.go
  packages/temporal/workflows/mtv_events.go
  packages/temporal/workflows/mtv_test.go
  packages/types/src/mtv-room-websockets.ts
Labels: enhancement, client, server, Temporal
