Repository AdonisEnProvence/MusicRoom, pull requests merged in 2021-12, with the labels that each got.

#275 test(server): add rollback middleware everytime in japafile before ru…
  packages/server/japaFile.ts
Labels: server, tests

#274 Refactor explicitly name mtv related method/events
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/CreateMtvRoomWhileBeingInOne.test.tsx
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/HideControlButtonForUserWithoutControlPermission.test.tsx
  packages/client/__tests__/MtvRoomChat.test.tsx
  packages/client/__tests__/MtvRoomConstraintsDetails.test.tsx
  packages/client/__tests__/MtvRoomOnlyInvitedUsersCanVote.test.tsx
  packages/client/__tests__/MtvRoomUserReceivesInvitationToast.test.tsx
  packages/client/__tests__/MtvRoomUsersList.test.tsx
  packages/client/__tests__/MtvRoomUsersListBroadcast.test.tsx
  packages/client/__tests__/MtvRoomUsersListDirect.test.tsx
  packages/client/__tests__/MtvRoomUsersSearch.test.tsx
  packages/client/__tests__/MtvRoomWithConstraints.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/__tests__/UserDevices.test.tsx
  packages/client/__tests__/UserLeave.test.tsx
  packages/client/__tests__/UserLengthUpdate.test.tsx
  packages/client/__tests__/UserLocation.test.tsx
  packages/client/__tests__/VoteForTrack.test.tsx
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/appUserMachine.ts
  packages/client/machines/roomUsersListMachine.ts
  packages/server/app/Controllers/Http/Temporal/MtvServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/MtvTemporalToServerController.ts
  packages/server/app/Controllers/Ws/MtvRoomsChatController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/app/Services/UserService.ts
  packages/server/start/routes.ts
  packages/server/start/socket.ts
  packages/server/tests/GetUsersList.test.ts
  packages/server/tests/MtvRoomChat.test.ts
  packages/server/tests/MtvRoomCreateInvitation.test.ts
  packages/server/tests/MtvRoomCreateWithAdvancedSettings.test.ts
  packages/server/tests/MtvRoomGoToNextTrackAndGetState.test.ts
  packages/server/tests/MtvRoomInvitedUserJoins.test.ts
  packages/server/tests/MtvRoomJoinCreate.test.ts
  packages/server/tests/MtvRoomPositionConstraint.test.ts
  packages/server/tests/MtvRoomTimeConstraintUpdate.test.ts
  packages/server/tests/MtvRoomUpdateControlAndDelegationPermission.test.ts
  packages/server/tests/SocketonDisconnection.test.ts
  packages/server/tests/UserLeaveMtvRoom.test.ts
  packages/server/tests/UserService.test.ts
  packages/server/tests/UserVoteForTrack.test.ts
  packages/server/tests/UserchangeEmittingDevice.test.ts
  packages/server/tests/UsersListForcedRefresh.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/activities/fetch.go
  packages/temporal/activities/mtv_controls.go
  packages/temporal/api/main.go
  packages/temporal/api/mtv_routes.go
  packages/types/src/index.ts
  packages/types/src/mtv-room-websockets.ts
  packages/types/src/mtv-server-to-temporal.ts
Labels: enhancement, client, server

#277 refactor(server): split mtv socket event listeners into a specific file
  packages/server/start/mtvSocket.ts
  packages/server/start/socket.ts
Labels: enhancement, server

#273 Front-end MPE creation
  packages/client/contexts/AppContext.tsx
  packages/client/hooks/useMusicPlaylistsActor.ts
  packages/client/jest.setup.tsx
  packages/client/machines/appMachine.ts
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/playlistMachine.ts
  packages/client/navigation/BottomBarNavigation.tsx
  packages/client/package.json
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/__tests__/CreateMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen.tsx
  packages/client/tests/tests-utils.tsx
  packages/client/types.tsx
  packages/server/package.json
  yarn.lock
Labels: enhancement, client

#279 Server room creation migrations
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Models/MpeRoom.ts
  packages/server/app/Models/User.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/database/migrations/1638528358466_mpe_rooms.ts
  packages/server/database/migrations/1638530068635_users_mpe_rooms.ts
  packages/server/start/mpeSocket.ts
  packages/server/start/mtvSocket.ts
  packages/server/start/socket.ts
  packages/server/tests/MpeRoomCreate.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/types/src/index.ts
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
  packages/types/src/mpe.ts
  packages/types/src/websockets.ts
Labels: server, tests

#280 Improve mpe creation fail handling
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/start/mpeSocket.ts
  packages/server/tests/MpeRoomCreate.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe.ts
Labels: server, tests

#281 Temporal mpe room creation
  packages/temporal/activities/mtv_controls.go
  packages/temporal/activities/mtv_metadata.go
  packages/temporal/api/mpe_routes.go
  packages/temporal/api/mtv_routes.go
  packages/temporal/mocks/TimeWrapperType.go
  packages/temporal/mpe/shared/mpe.go
  packages/temporal/mpe/workflows/init.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_actions.go
  packages/temporal/mpe/workflows/mpe_activities_controller.go
  packages/temporal/mpe/workflows/mpe_events.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/mpe/workflows/test_init.go
  packages/temporal/mtv/shared/mtv.go
  packages/temporal/mtv/shared/mtv_test.go
  packages/temporal/mtv/workflows/init.go
  packages/temporal/mtv/workflows/mtv.go
  packages/temporal/mtv/workflows/mtv_actions.go
  packages/temporal/mtv/workflows/mtv_activities_controller.go
  packages/temporal/mtv/workflows/mtv_conds.go
  packages/temporal/mtv/workflows/mtv_events.go
  packages/temporal/mtv/workflows/mtv_test.go
  packages/temporal/shared/shared.go
  packages/temporal/worker/main.go
  packages/temporal/workflows/init.go
Labels: Temporal, tests

#285 feat(temporal): mpe initialTrack is fetched send room creation acknow…
  packages/temporal/mpe/activities/mtv_controls.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/worker/main.go
Labels: Temporal, tests

#284 Static MPE Playlist Editing
  packages/client/components/Track/TrackListItem.tsx
  packages/client/machines/playlistMachine.ts
  packages/client/package.json
  packages/client/screens/MusicPlaylistEditorRoomScreen.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListEditing.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  yarn.lock
Labels: enhancement, client

#286 Server mpe room creation acknowledgement
  packages/server/app/Controllers/Http/Temporal/MpeTemporalToServerController.ts
  packages/server/start/mpeSocket.ts
  packages/server/start/routes.ts
  packages/server/tests/MpeRoomCreate.test.ts
  packages/temporal/mpe/activities/mpe_controls.go
  packages/temporal/mpe/shared/mpe.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/types/src/mpe-room-websockets.ts
Labels: server, Temporal, tests

#290 MPE Adding Tracks - Temporal
  packages/temporal/api/mpe_routes.go
  packages/temporal/mpe/activities/mpe_controls.go
  packages/temporal/mpe/shared/signals.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_activities_controller.go
  packages/temporal/mpe/workflows/mpe_editing_playlist_test.go
  packages/temporal/mpe/workflows/mpe_events.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/mpe/workflows/test_init.go
  packages/temporal/mtv/shared/mtv.go
  packages/temporal/mtv/workflows/mtv.go
  packages/temporal/shared/signals.go
  packages/temporal/shared/workflows.go
Labels: enhancement, Temporal

#291 Mpe room creation connect to client
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/playlistMachine.ts
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/__tests__/CreateMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListEditing.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/start/mpeSocket.ts
  packages/server/tests/MpeRoomCreate.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/api/main.go
  packages/temporal/api/mpe_routes.go
  packages/temporal/mpe/activities/mpe_controls.go
  packages/temporal/mpe/shared/mpe.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_editing_playlist_test.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/worker/main.go
  packages/types/src/index.ts
  packages/types/src/mpe.ts
Labels: client, tests

#295 MPE Adding Tracks - Server
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/MpeTemporalToServerController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/start/mpeSocket.ts
  packages/server/start/routes.ts
  packages/server/tests/MpeTracksListEditing.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/mpe/activities/mpe_controls.go
  packages/temporal/mpe/shared/signals.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_editing_playlist_test.go
  packages/types/src/index.ts
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
  packages/types/src/mpe-temporal-to-server.ts
Labels: enhancement, server

#298 refactor(temporal): change MpeRoomParameters to allow initialTracksID…
  packages/temporal/api/mpe_routes.go
  packages/temporal/mpe/shared/mpe.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_actions.go
  packages/temporal/mpe/workflows/mpe_activities_controller.go
  packages/temporal/mpe/workflows/mpe_editing_playlist_test.go
  packages/temporal/mpe/workflows/mpe_events.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/mpe/workflows/test_init.go
Labels: enhancement, Temporal, tests

#297 Rewrite Temporal activities as struct methods
  packages/temporal/activities/mocks/RecordHeartbeatWrapperType.go
  packages/temporal/activities/tracks_metadata.go
  packages/temporal/mpe/activities/activities.go
  packages/temporal/mpe/activities/controls.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_activities_controller.go
  packages/temporal/mpe/workflows/mpe_editing_playlist_test.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/mtv/activities/activities.go
  packages/temporal/mtv/activities/controls.go
  packages/temporal/mtv/workflows/mtv.go
  packages/temporal/mtv/workflows/mtv_activities_controller.go
  packages/temporal/mtv/workflows/mtv_test.go
  packages/temporal/worker/main.go
Labels: Temporal

#299 Mpe change track position in playlist temporal
  packages/temporal/api/mpe_routes.go
  packages/temporal/mpe/activities/controls.go
  packages/temporal/mpe/shared/mpe.go
  packages/temporal/mpe/shared/signals.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_actions.go
  packages/temporal/mpe/workflows/mpe_activities_controller.go
  packages/temporal/mpe/workflows/mpe_change_track_order_test.go
  packages/temporal/mpe/workflows/mpe_conds.go
  packages/temporal/mpe/workflows/mpe_events.go
  packages/temporal/mpe/workflows/test_init.go
Labels: Temporal, tests

#302 test(client): e2e testing the suggest becomes vote
  packages/client/e2e/test-a.spec.ts
Labels: client, tests

#301 feat(temporal): add default use case to every switch statement panic …
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/mpe/workflows/test_init.go
  packages/temporal/mtv/workflows/mtv.go
  packages/temporal/mtv/workflows/mtv_test.go
Labels: enhancement, Temporal, tests

#300 MPE Adding Tracks - Client
  packages/client/hooks/useMusicPlaylistsActor.ts
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/options/playlistMachineOptions.ts
  packages/client/machines/playlistMachine.ts
  packages/client/navigation/BottomBarNavigation.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListEditing.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorSearchTracksScreen/index.tsx
  packages/client/types.tsx
Labels: enhancement, client

#307 Sync devices mpe room server
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/start/socket.ts
  packages/server/tests/MpeRoomCreate.test.ts
  packages/server/tests/MpeTracksListEditing.test.ts
Labels: enhancement, server, tests

#308 Server change track order mpe
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/MpeTemporalToServerController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/start/mpeSocket.ts
  packages/server/start/routes.ts
  packages/server/tests/MpeChangeTrackOrder.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/mpe/activities/controls.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_actions.go
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
  packages/types/src/mpe-temporal-to-server.ts
Labels: server, tests

#315 MPE Deleting Tracks - Temporal
  packages/temporal/api/mpe_routes.go
  packages/temporal/mpe/activities/activities.go
  packages/temporal/mpe/activities/controls.go
  packages/temporal/mpe/shared/mpe.go
  packages/temporal/mpe/shared/signals.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_activities_controller.go
  packages/temporal/mpe/workflows/mpe_add_tracks_test.go
  packages/temporal/mpe/workflows/mpe_conds.go
  packages/temporal/mpe/workflows/mpe_delete_tracks_test.go
  packages/temporal/mpe/workflows/mpe_events.go
  packages/temporal/mpe/workflows/test_init.go
Labels: enhancement, Temporal

#317 test(client): add setImmediate to every server socket event to client…
  packages/client/__tests__/CloseMtvRoomCreationModal.test.tsx
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/CreateMtvRoomWhileBeingInOne.test.tsx
  packages/client/__tests__/ForcedDisconnectionPrintAlert.test.tsx
  packages/client/__tests__/GoToNextTrack.test.tsx
  packages/client/__tests__/HideControlButtonForUserWithoutControlPermission.test.tsx
  packages/client/__tests__/MtvRoomChat.test.tsx
  packages/client/__tests__/MtvRoomConstraintsDetails.test.tsx
  packages/client/__tests__/MtvRoomOnlyInvitedUsersCanVote.test.tsx
  packages/client/__tests__/MtvRoomSearch.test.tsx
  packages/client/__tests__/MtvRoomUserReceivesInvitationToast.test.tsx
  packages/client/__tests__/MtvRoomUsersList.test.tsx
  packages/client/__tests__/MtvRoomUsersListBroadcast.test.tsx
  packages/client/__tests__/MtvRoomUsersListDirect.test.tsx
  packages/client/__tests__/MtvRoomUsersSearch.test.tsx
  packages/client/__tests__/MtvRoomWithConstraints.test.tsx
  packages/client/__tests__/SearchTracks.test.tsx
  packages/client/__tests__/SessionRecover.test.tsx
  packages/client/__tests__/SocketConnectionEstablished.test.tsx
  packages/client/__tests__/SuggestTrack.test.tsx
  packages/client/__tests__/UserDevices.test.tsx
  packages/client/__tests__/UserLeave.test.tsx
  packages/client/__tests__/UserLengthUpdate.test.tsx
  packages/client/__tests__/UserLocation.test.tsx
  packages/client/__tests__/VoteForTrack.test.tsx
  packages/client/docs/integTests.md
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListEditing.test.tsx
  packages/client/services/__mocks__/websockets.ts
  packages/client/tests/tests-utils.tsx
Labels: bug, client, tests

#319 Client change track order mpe
  packages/client/__tests__/UserLocation.test.tsx
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/options/playlistMachineOptions.ts
  packages/client/machines/playlistMachine.ts
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListChangeTrackOrder.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListEditing.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/tests/tests-mpe-utils.ts
  packages/client/tests/tests-utils.tsx
Labels: client, tests

#316 MPE Deleting Tracks - Server
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/MpeTemporalToServerController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/start/mpeSocket.ts
  packages/server/start/routes.ts
  packages/server/tests/MpeAddTracks.test.ts
  packages/server/tests/MpeDeleteTracks.test.ts
  packages/server/tests/MtvRoomCreateInvitation.test.ts
  packages/server/tests/MtvRoomJoinCreate.test.ts
  packages/server/tests/SocketonDisconnection.test.ts
  packages/server/tests/UserLeaveMtvRoom.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
  packages/types/src/mpe-temporal-to-server.ts
Labels: enhancement, Temporal

#321 Receive initial tracks after MPE creation
  packages/temporal/mpe/activities/controls.go
Labels: bug, Temporal

#318 MPE Deleting Tracks - Client
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/options/playlistMachineOptions.ts
  packages/client/machines/playlistMachine.ts
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/AddTracks.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/DeleteTracks.test.tsx
Labels: enhancement, client

#327 Mpe e2e testing edit tracks list
  packages/client/e2e/mpe/test-a.spec.ts
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListUpdate.test.tsx
Labels: tests

#356 Mpe get context server
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/start/mpeSocket.ts
  packages/server/tests/MpeGetContext.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/api/mpe_routes.go
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
Labels: server, Temporal, tests

#357 Mpe get context client
  packages/client/components/kit/BottomRightAbsoluteButton.tsx
  packages/client/contexts/AppContext.tsx
  packages/client/hooks/useMusicPlaylistsActor.ts
  packages/client/machines/appMachine.ts
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/mpeRoomUniversalSearchMachine.ts
  packages/client/machines/options/appMusicPlaylistsMachineOptions.ts
  packages/client/machines/playlistMachine.ts
  packages/client/navigation/index.tsx
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/__tests__/CreateMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/DeleteTracks.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/NotJoinedMpeRoomPreview.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomsSearchScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorSearchTracksScreen/index.tsx
  packages/client/services/MpeService.ts
  packages/client/tests/data/index.ts
  packages/client/tests/server/handlers.ts
  packages/client/tests/tests-mpe-utils.ts
  packages/client/types.tsx
  packages/server/app/Controllers/Http/MpeRoomsHttpController.ts
  packages/server/app/Controllers/Http/MtvRoomsHttpController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/start/routes.ts
  packages/server/tests/MpeSearchEngine.test.ts
  packages/temporal/api/mpe_routes.go
  packages/types/src/index.ts
  packages/types/src/mpe-room-search.ts
  packages/types/src/mpe.ts
Labels: client, tests
