Repository AdonisEnProvence/MusicRoom, pull requests merged in 2022-01, with the labels that each got.

#360 Join mpe temporal
  packages/temporal/api/mpe_routes.go
  packages/temporal/mpe/activities/controls.go
  packages/temporal/mpe/shared/signals.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_activities_controller.go
  packages/temporal/mpe/workflows/mpe_add_tracks_test.go
  packages/temporal/mpe/workflows/mpe_add_user_test.go
  packages/temporal/mpe/workflows/mpe_change_track_order_test.go
  packages/temporal/mpe/workflows/mpe_conds.go
  packages/temporal/mpe/workflows/mpe_delete_tracks_test.go
  packages/temporal/mpe/workflows/mpe_events.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/mpe/workflows/test_init.go
Labels: Temporal, tests

#361 Join mpe server
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/MpeTemporalToServerController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/start/mpeSocket.ts
  packages/server/start/routes.ts
  packages/server/tests/MpeJoin.test.ts
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
  packages/types/src/mpe-temporal-to-server.ts
Labels: server, tests

#364 Join mpe client
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/playlistMachine.ts
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/JoinMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
Labels: client, tests

#365 Leave mpe room temporal
  packages/temporal/api/mpe_routes.go
  packages/temporal/mpe/activities/controls.go
  packages/temporal/mpe/shared/signals.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_activities_controller.go
  packages/temporal/mpe/workflows/mpe_events.go
  packages/temporal/mpe/workflows/mpe_remove_user_test.go
  packages/temporal/mpe/workflows/mpe_terminate_test.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/temporal/mpe/workflows/test_init.go
  packages/temporal/mtv/workflows/mtv_test.go
Labels: Temporal, tests

#366 Leave mpe room server
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/MpeTemporalToServerController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/app/Services/UserService.ts
  packages/server/database/migrations/1638530068635_users_mpe_rooms.ts
  packages/server/start/mpeSocket.ts
  packages/server/start/routes.ts
  packages/server/tests/MpeLeaveRoom.test.ts
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
  packages/types/src/mpe-temporal-to-server.ts
Labels: server, tests

#359 Mpe creation form
  packages/client/__tests__/CloseMtvRoomCreationModal.test.tsx
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/__tests__/CreateMtvRoomWhileBeingInOne.test.tsx
  packages/client/__tests__/SearchTracks.test.tsx
  packages/client/components/kit/AppScreenWithSearchBar.tsx
  packages/client/e2e/mpe/test-a.spec.ts
  packages/client/e2e/mtv/test-a.spec.ts
  packages/client/e2e/mtv/test-b.spec.ts
  packages/client/e2e/mtv/test-c.spec.ts
  packages/client/e2e/mtv/test-d.spec.ts
  packages/client/e2e/mtv/test-e.spec.ts
  packages/client/e2e/mtv/test-f.spec.ts
  packages/client/e2e/mtv/test-g.spec.ts
  packages/client/e2e/mtv/test-h.spec.ts
  packages/client/hooks/useMusicPlaylistsActor.ts
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/creationMpeRoomForm.ts
  packages/client/machines/options/appMusicPlaylistsMachineOptions.ts
  packages/client/machines/searchTrackMachine.ts
  packages/client/navigation/index.tsx
  packages/client/package.json
  packages/client/screens/HomeScreen.tsx
  packages/client/screens/MusicPlaylistEditorCreationForm/MusicPlaylistEditorCreationFormConfirmation/index.tsx
  packages/client/screens/MusicPlaylistEditorCreationForm/MusicPlaylistEditorCreationFormName/index.tsx
  packages/client/screens/MusicPlaylistEditorCreationForm/MusicPlaylistEditorCreationFormOpeningStatus/index.tsx
  packages/client/screens/MusicPlaylistEditorCreationForm/__tests__/CreateMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/__tests__/CreateMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorListScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/screens/SearchTrackScreen.tsx
  packages/client/tests/tests-mpe-utils.ts
  packages/client/types.tsx
  yarn.lock
Labels: enhancement, client

#370 Export MPE to MTV - Server
  packages/server/app/Controllers/Http/Temporal/MpeServerToTemporalController.ts
  packages/server/app/Controllers/Http/Temporal/MpeTemporalToServerController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/app/Controllers/Ws/MtvRoomsWsController.ts
  packages/server/app/Services/MtvRoomService.ts
  packages/server/package.json
  packages/server/start/mpeSocket.ts
  packages/server/start/mtvSocket.ts
  packages/server/start/routes.ts
  packages/server/tests/MpeExportToMtv.test.ts
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
  packages/types/src/mpe-temporal-to-server.ts
Labels: enhancement, server

#371 Leave mpe room client
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/options/appMusicPlaylistsMachineOptions.ts
  packages/client/machines/playlistMachine.ts
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/JoinMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/LeaveMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListChangeTrackOrder.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/tests/tests-mpe-utils.ts
Labels: client, tests

#372 Leave mpe room and join e2e tests
  packages/client/e2e/_utils/mpe-e2e-utils.ts
  packages/client/e2e/mpe/test-a.spec.ts
  packages/client/e2e/mpe/test-b.spec.ts
  packages/client/e2e/mpe/test-c.spec.ts
  packages/client/machines/options/appMusicPlaylistsMachineOptions.ts
  packages/client/navigation/BottomBarNavigation.tsx
  packages/client/screens/MusicPlaylistEditorLibraryScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/LeaveMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomsSearchScreen/index.tsx
  packages/client/screens/SearchTrackScreen.tsx
  packages/temporal/mpe/activities/controls.go
Labels: client, tests

#373 Mpe invitations creator server
  packages/server/app/Controllers/Http/MpeRoomsHttpController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/app/Models/MpeRoom.ts
  packages/server/app/Models/MpeRoomInvitation.ts
  packages/server/app/Services/SocketLifecycle.ts
  packages/server/app/Services/UserService.ts
  packages/server/database/migrations/1638530068635_users_mpe_rooms.ts
  packages/server/database/migrations/1641557073164_mpe_room_invitations.ts
  packages/server/start/mpeSocket.ts
  packages/server/tests/MpeGetContext.test.ts
  packages/server/tests/MpeRoomCreateInvitation.test.ts
  packages/types/src/mpe-room-websockets.ts
Labels: server, tests

#374 User receives mpe invitations server
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/tests/MpeRoomReceiveInvitation.test.ts
Labels: server, tests

#379 Mpe user related information temporal
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/playlistMachine.ts
  packages/client/screens/MusicPlaylistEditorCreationForm/__tests__/CreateMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/AddTracks.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/DeleteTracks.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListChangeTrackOrder.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/TracksListUpdate.test.tsx
  packages/client/tests/data/index.ts
  packages/client/tests/tests-mpe-utils.ts
  packages/server/app/Controllers/Http/Temporal/MpeTemporalToServerController.ts
  packages/server/app/Controllers/Ws/MpeRoomsWsController.ts
  packages/server/tests/MpeGetContext.test.ts
  packages/server/tests/MpeJoin.test.ts
  packages/server/tests/MpeRoomCreate.test.ts
  packages/server/tests/utils/TestUtils.ts
  packages/temporal/api/mpe_routes.go
  packages/temporal/mpe/shared/mpe.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_actions.go
  packages/temporal/mpe/workflows/mpe_test.go
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
  packages/types/src/mpe-temporal-to-server.ts
  packages/types/src/mpe.ts
Labels: enhancement, client, server, Temporal, tests

#380 Mpe invitations creator client
  packages/client/components/kit/AppScreenHeader.tsx
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/playlistMachine.ts
  packages/client/navigation/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/screens/MusicPlaylistEditorUsersSearchModal/__tests__/MpeRoomCreatorInviteUser.test.tsx
  packages/client/screens/MusicPlaylistEditorUsersSearchModal/index.tsx
  packages/client/screens/MusicTrackVoteUsersListModal.tsx
  packages/client/screens/MusicTrackVoteUsersSearchModal.tsx
  packages/client/screens/UsersSearchEngineScreen.tsx
  packages/client/types.tsx
Labels: client, tests

#382 mpe invitations e2e test
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/options/appMusicPlaylistsMachineOptions.ts
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/UserReceiveMpeRoomInvitation.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/tests/tests-mpe-utils.ts
Labels: client, tests

#383 E2e tests mpe invitation
  packages/client/e2e/_utils/mpe-e2e-utils.ts
  packages/client/e2e/mpe/test-d.spec.ts
Labels: client, tests

#385 fix(client): wrong skeleton display while performing playlist operation
  packages/client/machines/playlistMachine.ts
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
Labels: bug, client

#391 prevent xstate to forward event to non existing playlist actor
  packages/client/machines/appMusicPlaylistsMachine.ts
Labels: client

#395 Compute total playlist duration
  packages/client/screens/MusicPlaylistEditorCreationForm/__tests__/CreateMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorMusicTrackVoteCreationForm/__tests__/ExportToMtv.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/tests/data/index.ts
  packages/client/tests/tests-mpe-utils.ts
  packages/temporal/mpe/shared/mpe.go
  packages/temporal/mpe/workflows/mpe.go
  packages/temporal/mpe/workflows/mpe_add_tracks_test.go
  packages/temporal/mpe/workflows/mpe_add_user_test.go
  packages/temporal/mpe/workflows/mpe_change_track_order_test.go
  packages/temporal/mpe/workflows/mpe_delete_tracks_test.go
  packages/temporal/mpe/workflows/mpe_remove_user_test.go
  packages/temporal/mpe/workflows/mpe_test.go
Labels: client, tests

#396 Expand fullscreen player on join and create
  packages/client/__tests__/CreateMtvRoom.test.tsx
  packages/client/e2e/mtv/test-a.spec.ts
  packages/client/e2e/mtv/test-b.spec.ts
  packages/client/e2e/mtv/test-c.spec.ts
  packages/client/e2e/mtv/test-d.spec.ts
  packages/client/e2e/mtv/test-e.spec.ts
  packages/client/e2e/mtv/test-f.spec.ts
  packages/client/e2e/mtv/test-g.spec.ts
  packages/client/e2e/mtv/test-h.spec.ts
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/options/appMusicPlayerMachineOptions.ts
  packages/client/navigation/RootNavigation.tsx
Labels: client

#399 Fix circular dependencies
  packages/client/contexts/AppContext.tsx
  packages/client/hooks/useMusicPlaylistsActor.ts
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/machines/appMusicPlaylistsModel.ts
  packages/client/machines/creationMpeRoomForm.ts
  packages/client/machines/options/appMusicPlaylistsMachineOptions.ts
  packages/client/machines/playlistMachine.ts
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/types/src/mpe-room-websockets.ts
  packages/types/src/mpe-server-to-temporal.ts
Labels: bug

#403 Refactoring NavigateFromRef react navigation
  packages/client/machines/appMusicPlayerMachine.ts
  packages/client/machines/creationMpeRoomForm.ts
  packages/client/machines/options/appMusicPlayerMachineOptions.ts
  packages/client/machines/options/appMusicPlaylistsMachineOptions.ts
  packages/client/navigation/BottomBarNavigation.tsx
  packages/client/types.tsx
Labels: enhancement, client

#401 after mpe room creation display created mpe room view
  packages/client/e2e/_utils/mpe-e2e-utils.ts
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/screens/MusicPlaylistEditorCreationForm/__tests__/CreateMpeRoom.test.tsx
Labels: enhancement, client

#407 Mpe room view refactor integration
  packages/client/e2e/_utils/mpe-e2e-utils.ts
  packages/client/e2e/mpe/test-a.spec.ts
  packages/client/machines/appMusicPlaylistsMachine.ts
  packages/client/screens/MusicPlaylistEditorMusicTrackVoteCreationForm/__tests__/ExportToMtv.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/LeaveMpeRoom.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/tests/tests-mpe-utils.ts
Labels: enhancement, client, tests

#410 Fix test id conflict
  packages/client/components/Track/TrackListItem.tsx
  packages/client/components/Track/TrackListItemWithScore.tsx
  packages/client/e2e/_utils/mpe-e2e-utils.ts
  packages/client/screens/MusicPlaylistEditorCreationForm/MusicPlaylistEditorCreationFormConfirmation/index.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/__tests__/DeleteTracks.test.tsx
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/screens/MusicTrackVoteCreationFormConfirmation.tsx
  packages/client/tests/tests-mpe-utils.ts
  packages/client/tests/tests-utils.tsx
Labels: bug, client, tests

#412 Use date fns to display playlist total duration
  packages/client/package.json
  packages/client/screens/MusicPlaylistEditorRoomScreen/index.tsx
  packages/client/tests/tests-mpe-utils.ts
  yarn.lock
Labels: enhancement, client, tests

#414 E2e mpe test e
  packages/client/e2e/_utils/mock-http.ts
  packages/client/e2e/_utils/mpe-e2e-utils.ts
  packages/client/e2e/mpe/test-a.spec.ts
  packages/client/e2e/mpe/test-d.spec.ts
  packages/client/e2e/mpe/test-e.spec.ts
  packages/client/e2e/mtv/test-a.spec.ts
  packages/client/e2e/mtv/test-b.spec.ts
  packages/client/e2e/mtv/test-c.spec.ts
  packages/client/e2e/mtv/test-d.spec.ts
  packages/client/e2e/mtv/test-e.spec.ts
  packages/client/e2e/mtv/test-f.spec.ts
  packages/client/e2e/mtv/test-g.spec.ts
  packages/client/e2e/mtv/test-h.spec.ts
Labels: enhancement, client, tests

#431 Get user profile information server
  packages/server/app/Controllers/Http/SearchUsersController.ts
  packages/server/start/routes.ts
  packages/server/tests/UserProfileInformation.test.ts
  packages/types/src/index.ts
  packages/types/src/user.ts
Labels: server, tests
